@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    font-family: "Poppins", 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* posicionando a logo e a navegação */
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 80px;
}
/* FIM posicionando a logo e a navegação */

/* estilizando a navegação */
header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
/* FIM estilizando a navegação */

/* colocando img ao lado do textBox */
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* FIM colocando img ao lado do textBox */

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900 ;
}

.content .textBox p{
    color:#333
}

/* estilizando o botão Learn More */
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
/* FIM estilizando o botão Learn More */

.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img{
    width: 340px;
}

/* inserindo e posisionando as imagens do copos menores ao final da página */
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s; /* esta é a animação de quando a página carrega */
}

/* animação */
.thumb li:hover{
    transform: translateY(-15px);
}
/* FIM animação */

.thumb li img{
    max-width: 60px;
}
/* FIM inserindo e posisionando as imagens do copos menores ao final da página */

/* inserindo e posicionando a parte de redes sociais */
.social{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social li{
    list-style: none;
}

.social li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6); /* esta linha diminui o tamanho do elemento*/
    filter: invert(1); /* esta linha troca a cor dos ícones de preto para branco */
}
/* FIM inserindo e posicionando a parte de redes sociais */

/* inserindo e posicionando o semicírculo no canto inferior direito */
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px); /* esta linha cria e posiciona o cículo pela página */
}